
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  /*src: url("../fonts/font-open-sans.woff2");*/
  src: url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
